.side-bar {
    box-sizing: border-box;
    width: var(--sidbar-width);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: grey;
    transition: all 0.3s ease-in-out;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


@media (max-width: 700px) {
    .side-bar {
        display: none;
    }
}

.side-bar-button {
    width: 100%;
}